{% set previousPost = collections.post | nextArticle(page) %}
{% set nextPost = collections.post | nextArticle(page, -1) %}
{% if previousPost %}Previous: <a href="/blog/{{ previousPost.url }}">{{ previousPost.title }}</a>{% endif %}
<br>
{% if nextPost %}Next: <a href="/blog/{{ nextPost.url }}">{{ nextPost.title }}</a>{% endif %}